/*
 * 文档流
 * 正常文档流: 将元素布局从上到下,从左到右的顺序排布
 * 脱离文档流: 将元素从文档流取出进行覆盖(position:fixed,absolute;float)
*/
/* 匹配所有元素 */
* {
    margin: 0px 1px 0px 2px;
}

/* 标签 */
div,p {
    /* color */
    color: red;
    background-color: #0033f2;
    border-color: rgba(169, 45, 223, 0.5);
    outline-color: rgb(155, 221, 32);
}

/* #id */
#de1 {
    /* font */
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: lighter;
    font-style: italic;
}

/* .class */
.s2 {
    /* text */
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: capitalize;
    direction: rtl;
}

/* ancestor progeny */
div p{
    /* box model */
    margin: 2px;    /* 标签与标签 */
    border: 2px #3322ff solid;  /* margin与padding */
    padding: 4px #decc22;   /* border与内容 */
    background-color: #eeffcc;  /* 内容 */
}

/* parent > child*/
div > .dvs{
    /* 更改为block标签或inline标签 */
    display: inline-block;
}

/* back-contigeous */
div + span{
    padding: 2px;
}

/* lable[attribute='value'] */
div[id='id']{
    list-style: square;
}

/* [attribute~='value'] */
[class~='text']{
    /*class="value another else"*/
    padding: 1px;
}

/* [attribute$='lue'] */
[id$='lue']{
    /*id="vlaue"*/
    border-color: sienna;
}

/* [attribute^='va' */
[id^='va']{
    /*id='value'*/
    size: 2px;
}

/* [attribute*='al' */
[id*='al']{
    /*id='value'*/
    float: left;
}

/* :active */
p::before, p::after{
    content: "insert to the before(after) of p";
}

/* :link(没有访问), :hover(鼠标覆盖), :active(按下鼠标), :visited(已访问) */
a:link{
    position: fixed;
}
